$('.search_result').html(`
<% if @search_result %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td class="admin-tag-name" data-toggle="tooltip" title="<%= @search_result.name %>">
          <%= @search_result.name %>
        </td>
        <td>
          <%= j(link_to "削除", admin_post_tag_path(@search_result), method: :delete, remote: true, class: "btn btn-outline-danger", data: { confirm: "本当に削除しますか？" }) %>
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <div>
    "<%= @search_name %>"は見つかりませんでした。
  </div>
<% end %>
`);
$('.errors').empty();