@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


body {
  height: 100%;
  background-color: white;
  margin-bottom: 80px;
}

header {
  z-index: 1080;
}

textarea {
  resize: none;
  height: 120px;
}

.sidebar {
  position: sticky;
  top: 100px;
  padding-left: 24px;
  font-size: 24px;
}

.sign-in-area {
  top: 30%;
}

/* user */
.user-show {
  font-size: 20px;
  &-follows {
    border-right: 1px solid #343a40;
    &-count {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-item {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &-text {
    font-size: 16px;
  }
  &-edit {
    &-password {
      font-size: 16px;
    }
    &-icon {
      font-size: 24px;
      cursor: pointer;
    }
    &-status {
      font-size: 16px;
      &-open, &-close {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* post */
.file-uploader-image {
  font-size: 24px;
  margin-right: 16px;
}

.post-input {
  &-item {
    margin-right: 16px;
  }
  &-area {
    &::placeholder {
      padding-top: 80px;
    }
  }
  &-tag-label {
    margin-left: 16px;
  }
}

.post-comment-container {
  display: none;
}

.posts-area {
  &-text {
    padding: 32px 56px;
    &-container {
      text-decoration: none;
    }
    @media screen and (max-width: 768px) {
      padding: 16px;
    }
  }
  &-user {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}

.post-item {
  margin-bottom: 24px;
  &-comment {
    margin-right: 16px;
  }
  &-favorite {
    margin-right: 16px;
  }
  &-time-path {
    margin-right: 8px;
  }
}

.tag-item {
  margin-right: 8px;
}

.post-show-name {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.post-item-edit {
  font-size: 20px;
  cursor: pointer;
  &-text {
    font-size: 16px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &-delete:hover {
    color: #f4212e;
  }
  &-icons {
    div:nth-child(2) {
      margin-left: 12px;
    }
    div:nth-child(3) {
      margin-left: 24px;
    }
  }
}
