.sidebar {
  position: sticky;
  height: 100%;
  margin-top: 32px;
  top: 92px;
  left: 80px;
  font-size: 24px;
  @media screen and (max-width: 992px) {
    left: 32px;
  }
  @media screen and (max-width: 576) {
    left: 16px;
  }
}

.item-sidebar {
  overflow-y: auto;
  height: 800px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &-container {
    position: sticky;
    margin-top: 32px;
    top: 92px;
  }
  &-title {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
  }
  &-bottom {
    margin-top: 80px
  }
}

.item-bar {
  height: 560px;
}

.item-top-bar {
  overflow-x: auto;
	white-space: nowrap;
  display: flex;
  width: 100%;
  height: 80px;
  &-container {
    position: sticky;
    top: 60px;
    z-index: 100;
    height: 100px;
    padding: 16px 0;
  }
}

.search-top-bar {
  position: sticky;
  top: 60px;
  z-index: 100;
  height: 128px;
  padding: 16px 0;
}

.search-tags-top-bar {
  position: sticky;
  top: 60px;
  z-index: 100;
  height: 240px;
}

.search-sidebar {
  position: sticky;
  height: 640px;
  top: 256px;
  z-index: 1200;
  margin-left: 64px;
  &-body {
    margin-bottom: 32px;
    & a:hover {
      color: white;
    }
  }
}