.sidebar {
  position: sticky;
  height: 100%;
  margin-top: 32px;
  top: 92px;
  left: 80px;
  font-size: 24px;
}

.search-bar {
  position: sticky;
  top: 100px;
  padding-left: 24px;
  font-size: 24px;
}

.item-sidebar {
  overflow-y: auto;
  height: 800px;
  &-container {
    position: sticky;
    margin-top: 32px;
    top: 92px;
  }
  &-title {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
  }
  &-bottom {
    margin-top: 80px
  }
}

.item-bar {
  height: 560px;
}