.btn-outline-dark:hover, .btn-dark:hover {
  background-color: #23272b;
  opacity: 1;
}

.btn-danger:hover, .btn-outline-danger:hover {
  background-color: #c82333;
  opacity: 1;
}

.delete-btn a:hover {
 opacity: 1;
}

.modal-close-btn {
  &span {
    font-size: 16px;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(29, 33, 36, 50%);
  }
}

.dropdown {
  &-item-container {
    width: 100%;
    overflow: hidden;
  }
  &-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:active {
      background-color: #dfdfdf;
    }
  }
}

.nomal-btn {
  background-color: transparent;
  border: none;
  &:focus {
   outline: none;
  }
  &:focus-visible {
    outline: none;
  }
}