body {
  height: 100%;
  background-color: white;
  min-width: 370px;
}
ul {
  padding-left: 0;
  &,ol,li {
    list-style: none;
  }
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

i {
  color: black;
}

img {
  &:hover{
    opacity: 0.8;
  }
}

label {
  cursor: pointer;
}

.flash {
  position: fixed;
  top: 60px;
  z-index: 960;
  width: 100%;
  height: 48px;
  text-align: center;
  line-height: 48px;
}

.flash {
  &-notice {
    background-color: rgba(0, 123, 255, 0.8);
    color: #fff;
  }
  &-alert {
    background-color: rgba(220, 53, 69, 0.8);
    color: #fff;
  }
}

.table {
  margin-bottom: 0;
}

.errors {
  color: red;
}

.success {
  color: green;
}

.show-name {
  margin-left: 24px;
  font-size: 16px;
  width: 80%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 768px) {
    width: 60%;
  }
  @media screen and (max-width: 576px) {
    width: 40%;
  }
}

#preview img {
  width: 100px;
  height: 100px;
  margin: 8px;
}

.edit-user-icon #preview img, .edit-group-icon #preview img {
  border-radius: 50%;
}

.image-area {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 1200px) {
      width: 320px;
  }
  @media screen and (max-width: 992px) {
    width: 280px;
  }
  @media screen and (max-width: 768px) {
    width: 240px;
  }
  @media screen and (max-width: 576px) {
    width: 200px;
  }
  gap: 8px;
  & img {
    flex-grow: 0;
    @media screen and (max-width: 1200px) {
      width: 140px;
      height: 140px;
    }
    @media screen and (max-width: 992px) {
      width: 120px;
      height: 120px;
    }
    @media screen and (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
    @media screen and (max-width: 576px) {
      width: 80px;
      height: 80px;
    }
  }
}

.link-text-blue {
  color: #007bff;
  &:hover {
    color: #007bff;
    text-decoration: underline;
  }
}

.modal {
  display: none;
  overflow-y: auto;
  max-height: 100%;
  margin: 0 auto;
}

.between-text-icon {
  margin-left: 8px;
}

.option-item {
  margin-right: 8px;
  cursor: pointer;
  & a:hover {
    text-decoration: none;
    opacity: 0.8;
  }
  @media screen and (max-width: 768px) {
    margin-right: 8px;
  }
  &-container {
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    & .option-item:nth-child(3) {
      @media screen and (max-width: 350px) {
        display: block;
        width: 100%;
        margin-top: 16px;
        text-align: right;
      }
    }
  }
  &-delete {
    margin-right: 16px;
    display: inline-block;
    cursor: pointer;
    & a {
      color: #ff3434;
    }
  }
  &-delete a:hover {
    color: red;
  }
}

.introduction {
  &-text {
    font-size: 14px;
  }
  &-area {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &-container a:hover {
      text-decoration: none;
    }
  }
}

textarea {
  resize: none;
  height: 120px;
}

/*タグのレイアウト*/
.tag-item {
  margin: 8px;
  padding: 4px 12px;
  border-radius: 2em;
  @media screen and (max-width: 576px) {
    margin: 4px;
  }
}

.tag-icon-item {
  font-size: 16px;
  margin: 8px 8px 16px 0;
  cursor: pointer;
  & a:hover {
    text-decoration: none;
  }
  &-delete {
    margin-left: 16px;
    cursor: pointer;
    & a:hover {
      color: red;
    }
  }
}

.dropdown-black-color:active {
  color: #000;
}

.search-body-position .search-form-item {
  position: static;
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}
