header {
  z-index: 960;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
}

.logo {
  width: 160px;
  height: 32px;
  &-container {
    position: absolute;
    left: 15px;
  }
}

.header-container {
  display: inline-flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

/* ヘッダー検索フォーム */
.search-form {
  &-container {
    display: flex;
    text-align: center;
  }
  &-content {
    margin-top: 120px;
  }
  &-item {
    width: 560px;
    @media only screen and (max-width: 992px) {
      width: 400px;
      position: absolute;
      top: -20px;
      right: 15px;
    }
    @media only screen and (max-width: 768px) {
      width: 320px;
    }
  }
}

.search-menu-btn {
  background-color: white;
  display: none;
}

@media only screen and (max-width: 576px) {
  .search-form-out {
    top: -100%;
    position: fixed;
    left: 10%;
    width: 80%;
  }
  
  .search-form-in {
    top: 72px;
  }
  
  .search-menu-btn {
    display: block;
    position: absolute;
    right: 15px;
  }
}




