header {
  z-index: 1080;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
}

.logo {
  width: 160px;
  height: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ヘッダー検索フォーム */
.search-form {
  &-position {
    margin-right: 8%;
  }
  &-container {
    display: flex;
    text-align: center;
  }
  &-item {
    width: 640px;
    @media only screen and (max-width: 992px) {
      width: 480px;
    }
    @media only screen and (max-width: 768px) {
      width: 320px;
    }
  }
}

.search-menu-btn {
  background-color: white;
  display: none;
}


@media only screen and (max-width: 576px) {
  .search-form-out {
    top: -100%;
    position: fixed;
    left: 10%;
    width: 80%;
  }

  .search-form-in {
    top: 72px;
  }

  .search-menu-btn {
    display: block;
  }
}




