/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.menu-btn {
  border: none;
  background-color: transparent;
}

.menu-btn:focus, :focus-visible {
  outline: none;
}

.header-menu-container {
  position: relative;
}

.header-menu {
  position: absolute;
  width: 200px;
  right: 0;
  top: 48px;
  display: none;
}

.header-menu-active {
  display: block;
}

.header-menu-item {
  padding: 16px;
}

.header-menu a {
  display: block;
  width: 100%;
}

.header-menu-item:hover {
  background-color: rgba(150, 150, 150, 0.2)
}
.header-menu-item:focus {
  background-color: rgba(80, 80, 80, 0.2)
}