/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.sign-in-area {
  position: sticky;
  height: 100%;
  z-index: 1020;
}

.modal {
  overflow-y: auto;
  max-height: 100%;
}

.item-sidebar {
  overflow-y: auto;
  height: 640px;
}

.item-sidebar-title {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.item-sidebar-bottom {
  margin-top: 80px
}

.item-sidebar-container {
  position: sticky;
  top: 100px;
}


.between-text-icon {
  margin-left: 8px;
}
.user-item a:hover {
  text-decoration: none;
}


.introduction-area {
  padding: 0 16px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.introduction-area-container a:hover {
  text-decoration: none;
}

.introduction-text {
  padding: 16px 16px;
}


.tag-icon-item {
  font-size: 18px;
  margin: 8px 8px 16px 0;
}

.tag-icon-item a:hover {
  text-decoration: none;
}