/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.join-group-name {
  width: 65%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.join-group-name:hover {
  text-decoration: underline;
}

.join-group-icon {
  margin-right: 16px;
  margin-bottom: 16px;
}

.join-group {
  position: relative;
}

.join-group .owner-icon {
  position: absolute;
  top: 8px;
  right: 16px;
}

.index-group {
  position: relative;
}

.index-group .owner-icon {
  position: absolute;
  top: 8px;
  right: 32px;
}
