- if current_end_user.following?(user)
  span.unfollow data-toggle="tooltip" title="フォロー解除"
    = link_to user_follows_path(user), method: :delete, remote: true, class: "btn btn-dark rounded-pill unfollow-btn", data: { "confirm": "フォロー解除しますか？" }
      span.unfollow-text
        i.fas.fa-user-minus
        span.between-text-icon.d-none.d-md-inline-block
          | フォロー中
- else
  - unless user.status == "freeze"
    span.follow data-toggle= "tooltip" title="フォロー"
      = link_to user_follows_path(user), method: :post, remote: true, class: "btn btn-outline-dark rounded-pill follow-btn"
        span.follow-text
          i.fas.fa-user-plus
          span.between-text-icon.d-none.d-md-inline-block
            | フォロー
  - else
    | 凍結済みのためフォローできません。

javascript:
  $(function() {
    $('.unfollow').hover(function() {
      $('.unfollow-text').html(
        `<i class="fas fa-user-times"></i>
        <span class="between-text-icon d-none d-md-inline-block">フォローを外す</span>`
        );
      $('.unfollow-btn').removeClass('btn-dark').addClass('unfollow-active-btn');
    }, function() {
      $('.unfollow-text').html(
        `<i class="fas fa-user-minus"></i>
        <span class="between-text-icon d-none d-md-inline-block">フォロー中</span>`
        );
      $('.unfollow-btn').removeClass('unfollow-active-btn').addClass('btn-dark');
    });
  });
  $(function() {
    $('.follow').hover(function() {
      $('.follow-text').html(
        `<i class="fas fa-user-check"></i>
        <span class="between-text-icon d-none d-md-inline-block">フォローする</span>`
        );
      $('.follow-btn').removeClass('btn-outline-dark').addClass('btn-outline-success');
    }, function() {
      $('.follow-text').html(
        `<i class="fas fa-user-plus"></i>
        <span class="between-text-icon d-none d-md-inline-block">フォロー中</span>`
        );
      $('.follow-btn').removeClass('btn-outline-success').addClass('btn-outline-dark');
    });
  });
