/*グループのみのサイドバー*/
.group-sidebar {
  overflow-y: auto;
  max-height: 480px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &-container {
    position: fixed;
    max-width: 20%;
    margin: 20px 0 0 0;
    top: 114px;
    @media screen and (max-width: 1200px) {
      position: static;
      max-width: 100%;
    }
  }
}

.group-join-member {
  margin: 8px;
  &-container {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.owner-icon {
  color: #ebd247;
}

/* グループチャット */
.group-chat-balloon {
  display: inline-block;
  padding: 24px;
  margin: 16px 8px;
  border-radius: 50px;
  position: relative;
  background-color: #8de055;
  max-width: 100%;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -18px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent transparent #8de055;
  }
  &-other {
    display: inline-block;
    padding: 24px;
    margin: 16px 8px;
    border-radius: 50px;
    position: relative;
    background-color: #D9F0FF;
    max-width: 100%;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -9px;
      margin-top: -10px;
      display: block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #D9F0FF transparent transparent;
    }
  }
}

.group-chat{
  &-container {
    max-width: 95%;
  }
  &-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    @media screen and (max-width: 1200px) {
      display: none;
    }
    & a:hover {
      text-decoration: underline;
    }
  }
  &-user-icon {
    @media screen and (max-width: 1200px) {
      width: 40px;
      height: 40px;
    }
    @media screen and (max-width: 576px) {
      position: relative;
      right: 8px;
    }
  }
  &-other-user-icon {
    @media screen and (max-width: 1200px) {
      width: 40px;
      height: 40px;
      }
    @media screen and (max-width: 576px) {
      position: relative;
      right: 16px;
    }
  }
  &-text {
    font-size: 14px;
  }
  &delete-text {
    text-decoration: none;
    &:hover {
      color: red;
    }
  }
}


.group-chat-user-area {
  display: inline-flex;
  align-items: center;
}

#group-chat-area {
  overflow-y: scroll;
  height: 480px;
  margin: 24px 8px;
  /* Firefox */
  scrollbar-width: none;
  /* IE */
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    /* Chrome */
    display: none;
  }
  &-admin {
    height: 720px;
  }
}

.join-group {
  position: relative;
  &-name {
    width: 65%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      text-decoration: underline;
    }
  }
  &-icon {
    margin-right: 16px;
    margin-bottom: 16px;
  }
  & .owner-icon {
    position: absolute;
    top: 8px;
    right: 16px;
  }
}

.index-group {
  position: relative;
  & .owner-icon {
  position: absolute;
  top: 8px;
  right: 32px;
  }
}

.group-name-index {
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &-container {
    max-width: 80%;
    display: inline-flex;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
    @media screen and (max-width: 1200px) {
      max-width: 70%;
    }
    @media screen and (max-width: 576px) {
      max-width: 100%;
    }
  }
}

.group-new {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  &:hover {
    position: relative;
    bottom: 1px;
  }
  &:active {
    position: relative;
    top: 3px;
    border-bottom: 1px solid #dcdcdc;
  }
  &-container {
    position: fixed;
    z-index: 760;
    bottom: 32px;
    right: 32px;
    @media screen and (max-width: 576px) {
      bottom: 80px;
    }
  }
  &-btn {
    width: 48px;
    height: 48px;
    font-size: 32px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
  }
}

.group {
  &-name {
    font-size: 16px;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
    @media screen and (max-width: 500px) {
      display: block;
      margin-top: 8px;
    }
  }
  &-icon {
    margin-right: 16px;
    margin-bottom: 16px;
  }
  &-member-name {
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &-container {
      max-width: 70%;
      display: inline-flex;
      align-items: center;
      @media screen and (max-width: 1200px) {
        max-width: 85%;
      }
      @media screen and (max-width: 768px) {
        max-width: 70%;
      }
      @media screen and (max-width: 576px) {
        max-width: 55%;
      }
    }
  }
}
