.user-sidebar {
  overflow-y: auto;
  height: 560px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &-container {
    position: sticky;
    top: 256px;
  }
  &-title {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
  }
}

/*ユーザーのshowページ*/ 
.user {
  &-name {
    font-size: 16px;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
    @media screen and (max-width: 500px) {
      display: block;
      margin-top: 8px;
    }
  }
  &-icon {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

/*_indexのユーザーステータス*/ 
.user-name-index {
  width: 80%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 1280px) {
    width: 50%;
  }
  @media screen and (max-width: 1200px) {
    width: 50%;
  }
  @media screen and (max-width: 768px) {
    width: 70%;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

/*フォロー・フォロワー*/
.follow-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 16px;
}

.follow-top-bar {
  display: inline-flex;
  flex-wrap: nowrap;
  margin-left: 15%;
  max-width: 560px;
  height: 100px;
  align-items: center;
  &-user-name {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-container {
    position: sticky;
    z-index: 100;
    top: 60px;
    background-color: rgba(255, 255, 255, 0.8)
  }
}
