.user-sidebar {
  overflow-y: auto;
  height: 560px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &-container {
    position: sticky;
    top: 256px;
  }
  &-title {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
  }
}

.user {
  &-name {
    font-size: 16px;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
    @media screen and (max-width: 500px) {
      display: block;
      margin-top: 8px;
    }
  }
  &-icon {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

.follow-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 16px;
}